.videos-font{
  .views-row{
    display: block;
    float: left;
    width: 50%;
    &:first-child{
      padding-right: 15px;

    }
    &:last-child{
      padding-left: 15px;
    }
    a{
      color: $text_gray_light;
      padding-top: 15px;
      display: block;
    }

  }
}
.view-videos{
  .views-field-field-youtube{
    a{
      position: relative;
      display: block;
      &:before{
        position: absolute;
        left: 0px;
        bottom: 0px;
        content: "";
        width: 32px;
        height: 32px;
        background: url("../images/icon_social_youtube.png") center;
      }
      &:hover{
        &:before{
          opacity: 0.7;
        }
      }
    }
  }

}
.view-videos.view-display-id-page_1{
  .views-field-title{
    a{
      display: block;
      color: $text_gray;
      padding: 10px 0px;
      text-align: justify;
      height: 80px;
    }
  }
  .views-row{
    margin-bottom: 20px;
  }
}
@include bp(max-width,$bp-tablet){
  .videos-font{
    margin-top: 40px;
  }
}