.menu-product-category{
  .title{
    font-size: 16px;
    text-transform: none;
    &:after{
      display: none;
    }
    margin-bottom: 5px;
  }
  ul.menu{
    padding: 0px;
    li{
      list-style: none;
      padding-left: 0px;
      margin: 0px;
      padding:10px 0px;
      a{
        text-decoration: none;
        font-size: 15px;
        color: $text_black1;
        text-transform: uppercase;
        &:hover{
          color: $text_red;
        }
        &.active{
          color: $bg_4;
        }
        /*&:before{
          content: '\2022\2002';
        }*/
      }
      .glyphicon{
        float: right;
        margin-right: 15px;
        font-size: 8px;
        padding: 4px;
        color: $text_white;
        background-color: $text_gray_light;
      }
    }
  }

  .content{
    &>ul.menu{
      &>li{
        border-bottom: 1px solid $text_black1;
        &>a{
          font-weight: bold;
        }
        &>ul.menu{
          &>li{
            border-bottom: none;
            a{
              &:before{
                content:"\00bb\00a0";
                font-size: 18px;
              }
            }
            &>ul.menu{
              display: none;
              &li{

              }
            }

            &.open{
              .glyphicon-plus:before{
                content: "\2212"
              }
              ul.menu{
                display: block;
                li{
                  padding-left: 0px;
                  border-bottom: none;
                  padding-left: 5px;
                  padding-top: 3px;
                  padding-bottom: 3px;
                  a{
                    font-size: 13px;
                    &:before{
                      content: '\2022\2002';
                    }
                  }
                  &:last-child{
                    border-bottom: 0px;
                  }
                }
              }
            }
          }
        }

      }
    }

  }
}