#block-views-project-category-block{
  .views-field-name{
    .field-content{
      &:after{
        position: absolute;
        content:"";
        bottom: -20px;
        width: 30px;
        height: 2px;
        background-color: $text_yellow;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}
.category-list{
  padding-top: 35px;
  .views-row{
    .row-content{
      position: relative;
    }
    .views-field-field-image{
      img{
        -webkit-filter: brightness(.8);
        filter: brightness(.8);
      }
    }

    .views-field-title,.views-field-name{
      font-size: 19px;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
      .field-content{
        max-width: 200px;
        display: inline-block;
        position: relative;
      }
    }
  }
}
.view-projects{
  .views-field-title{
    a{
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      padding: 20px 0px 10px 0px;
      display: block;
      color: $text_black;
    }
  }
  .views-field-field-investor,.views-field-field-component,.views-field-field-execution-time{
    span,.field-content{
      display: inline-block;
      color: $text_black_light;
    }
  }
}
@include bp(max-width,$bp-tablet){
  .category-list{

    .views-row{

      .views-field-name{
        width: auto;
        padding-right: 10px;
        font-size: 20px;
      }
      .views-field-name-1{


      }
    }
  }
}