#navigation{
  #main-menu>ul.menu{
    display: table;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    &>li{
      list-style: none;
      display: block;
      float: left;
      padding: 0px 30px 0px 0px;
      margin: 0px;
      position: relative;
      &.last{
        padding-right: 0px;
      }
      a{
        font-size: 16px;
        padding:25px 0px;
        display: block;
        position: relative;
        color: $bg_1;

        &.active{
          background: transparent;
          color: $text_red;
          &:after{
            position: absolute;
            content: "";
            bottom: 0px;
            width: 100%;
            background-color: $text_red;
            height: 4px;
            left:0px;
            z-index: 10;
          }
        }
        &:hover{
          background: transparent;
          color:$text_red;
          text-decoration: none;
          &:after{
            position: absolute;
            content: "";
            bottom: 0px;
            width: 100%;
            background-color: $text_red;
            height: 4px;
            left:0px;
          }
        }

      }
      &>a{
        padding:40px 0px;
      }
    }
  }
}


@include bp(min-width,$bp-tablet+1){
  #navigation #main-menu>ul.menu>li{
    &:hover{
      &>ul{
        display: block;
      }
    }
    &>ul{
      display: none;
      border-top: 4px solid $text_red;
      position: absolute;
      width: 250px;
      top: calc(100% - 4px);
      left: 0px;
      z-index: 9999;
      background-color: $text_white;
      padding-left: 0px;
      padding-bottom: 10px;
      &>li{
        list-style: none;
        position: relative;

        a{
          padding: 8px 0px 0px 0px;
          font-size: 16px;
          &:after{
            display: none;
            font-size: 20px;
          }
        }
        &>ul{
          display: none;
        }
        &:hover{
          &>ul{
            z-index: 9999;
            background-color: $text_white;
            padding-left: 0px;
            width: 350px;
            list-style: none;
            padding-left: 0px;
            display: inline-block;
            position: absolute;
            left: 100%;
            top: 0;
            li{
              display: block;
              a{
                display: block;
              }
            }

          }
        }
      }
    }
  }

  #navigation #main-menu{
    li.expanded{
      &:after{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $bg_2 transparent transparent transparent;
        right: 18px;
        top: 50%;
        transform: translate(0,-50%);
      }
    }
  }

  .not-front #navigation #main-menu>ul.menu>li{
    &>ul.menu{
      background-color: $text_white;
      border-right: 1px solid $text_gray_light;
      border-left: 1px solid $text_gray_light;
      border-bottom: 1px solid $text_gray_light;
      &>li{
        &>ul.menu{
          background-color: $text_white;
          border-right: 1px solid $text_gray_light;
          border-top: 1px solid $text_gray_light;
          border-bottom: 1px solid $text_gray_light;
        }
      }
    }
    a.active-trail{
      background-color: transparent;
      color: $text_red;
    }
  }

}
@include bp(max-width,$bp-tablet){
  .hotline-mobile{
    text-align: center;
    font-size: 13px;
    color: #3596B6;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $bg_1;
  }
  .menu-btn{
    display: inline-block;
    float: right;
    span.icon-bar{
      display: block;
      height: 4px;
      background-color: $bg_4;
      width: 30px;
      margin-bottom: 8px;
      border-radius: 2px;
    }
  }
  .search-icon{
    display: inline-block;
    float: right;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    color: $bg_4;
  }
  .mobile-header{
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    #logo{
      display: table-cell !important;
      float: none;
    }
    .mobile-menu{
      display: table-cell;
      vertical-align: middle;
      float: none;
      width: 100px;

    }


  }
  #header .pull-left #logo a{
    justify-content: left;
    align-items: left;
    img{
      max-height: 68px;
    }
  }

  #main-menu>ul.menu>li{

    ul{
      padding-left: 10px;
      li{
        a{
          font-size: 20px;
        }
      }
    }
  }

  .pushy{
    width: 25px;
    #navigation #main-menu > ul.menu{
      padding-left: 15px;
      &>li{
        a{
          color: $text_white;
          font-size: 16px;
          &:after{
            display: none;
          }
          padding-top: 5px;
          padding-bottom: 5px;
        }

      }
    }
  }
}