#block-views-feature-block{
  padding-top: 50px;
  padding-bottom: 35px;
  .views-field-title{
    font-size: 18px;
    display: block;
    text-align: center;
    padding-top: 25px;
    max-width: 250px;
    margin: auto;

  }
  .view-header{
    p{
      text-align: center;
      font-size: 18px;
      color: $text_black_light;
    }
    padding-bottom: 20px;
  }
}
#block-views-projects-category-block{
  padding-top: 50px;
  padding-bottom: 35px;
  .views-field-name{
    font-size: 18px;
    display: block;
    text-align: center;
    padding-top: 25px;
    max-width: 250px;
    margin: auto;

  }
}
#block-views-feature-block{
  .title{
    margin-bottom: 0px;
  }
}
@include bp(max-width,$bp-tablet){
  #block-views-feature-block .views-field-title{
    margin-bottom: 25px;
  }
}
