.footer-bottom{
  background-color: $bg_4;
  padding: 15px 0px;
  p{
    color: $text_white;
    margin-bottom: 0px;
    font-size: 16px;
  }
}

.footer{

  background-color: $bg_7;
  padding-bottom: 15px;
  padding-top: 40px;
  .line .col-md-12 hr{
    border-bottom: 1pt solid $text_black_light;
  }
  .footer-title{
    display: block;
    border-bottom: 1pt solid $text_black_light;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: $text_black_light;
  }
  .block-footer{
    .title{
      font-weight: bold;
      font-size: 14px;
      text-transform: none;
      color: $bg_2;
      margin-bottom: 10px;
      &:after{
        display: none;
      }
    }
    ul{
      padding: 0px;
      li{
        list-style: none;
        margin-left: 0px;
        a{
          display: block;
          color: $text_gray;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  .footer-address{
    .title{
      color: $text_gray;
    }
  }
}
.footer-address{
  p{
    color: $text_gray;
    font-size: 13px;
    margin-bottom: 5px;
    strong{
      color: $text_gray;
      width: 70px;
      display: inline-block;
    }
    a{
      color: $text_gray;
    }
  }
}
.content-footer{
  background-color: $bg_7;
  margin-top: 50px;
  padding-bottom: 25px;
}
.footer-left{
  #edit-submitted-email-or-phone{
    max-width: 100%;
    padding:10px 5px;
    border:none;
  }
  .webform-client-form{
    position: relative;
  }
  .webform-submit{
    background: transparent  url('/sites/all/themes/oms/images/arrow-l.svg') no-repeat;
    border: 0;
    text-indent: -99999;
    color: transparent;

    position: absolute;
    right: 0px;
    bottom: 6px;
    &:hover{
      background: transparent  url('/sites/all/themes/oms/images/arrow-l.svg') no-repeat;
    }
  }
  .webform-component--markup p{
    color: $text_gray;
    margin: 15px 0px;
  }
}
.footer-logo{
  img{
    max-height: 100px;
    margin: auto;
    display: block;
  }
}
@include bp(min-width,$bp-tablet+1){
  .block.follow-me{
    .content{
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      p{
        position: absolute;
        bottom: 0px;
      }
    }
  }
}
@include bp(max-width,$bp-tablet){
  .footer{
    .block{
      margin-top: 30px;
      .title{
        text-align: left;
      }
    }
  }
}