body.html{
  color: $text_black1;
  font-family: 'Roboto', sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}
.block {
  .title{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: $bg_4;
    margin-bottom: 25px;
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $bg_2;
      bottom: 0px;
      left: 0px;
    }
  }
}
.sidebar{
  .block{
    margin-bottom: 30px;
  }
;
}
.home-highlight-box{
  background-color: $text_white;
}
body.not-front{
  background-color: $text_white;
  a{
    color: $bg_2;
  }
  #main{
    margin-top: 50px;
  }
}
.page-title{
  margin-bottom: 10px;
  h1.title,h2.title{
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.form-submit{
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  color: $text_white;
}
.html #wrap{
  border: none;
}

.form-type-item{
  .created{
    font-size: 12px;
    display: inline-block;
  }
}
.views-field-body{
  text-align: justify;
}
.content-after{
  display: table;
}

@include bp(max-width,$bp-tablet){
  .block {
    .title{
      text-align: center;
      font-size: 15px;
      display: block;
      text-align: center;
      &:after{
        width: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -3px;
      }
    }
  }
  #sidebar{
    margin-top: 50px;
  }
}