
#header-top{
  background-color: #164D81;
  padding-top: 20px;
  padding-bottom: 20px;

}
#header{
  background-color: $text_white;
  position: relative;
  z-index: 9;
  .pull-left{
    position: absolute;
    height: 100%;
    #logo{
      height: 100%;
      display: block;
      max-width: 120px;
      a{
        height: 100%;
        display: flex;
        flex-wrap: wrap; /* optional. only if you want the items to wrap */
        justify-content: center; /* for horizontal alignment */
        align-items: center; /* for vertical alignment */
        img{
          max-height: 100%;
        }
      }
    }
  }
}


@include bp(min-width,$bp-tablet+1){
  #logo{
    img{
      max-height: 95px;
    }
  }
  #header-top{
    padding-top: 5px;
    padding-bottom: 5px;

  }

  #header{
    background-color: $bg_4;
    position: relative;
    z-index: 1;
    &>.container{
      max-width: inherit;
      width: 90%;
    }
    &:after{
      position: absolute;
      width: 100%;
      bottom: 0px;
      height: 4px;
      content: "";
      background-color: $bg_1;
    }
    .row{
      display: table;
      width: 100%;
      &>div{
        display: table-cell;
        float: none;
        vertical-align: middle;

      }
      .column-logo{
        width: 250px;
      }
      .column-header-top{
        width: 150px;
      }
    }
  }
}
@include bp(max-width,$bp-tablet){
  #header{
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 9;
    #logo{
      img{

      }
    }
    .row{
      position: relative;
      .column-logo{
        margin-top: 20px;
      }
      .column-header-top{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
      }
    }
  }
  #header-top{
    height: 0px;
    padding: 0px;
  }
  .hotline-mobile{
    display: none;
  }
  #block-locale-language .language-switcher-locale-url li a.active{
    color: $bg_4 !important;
  }

}
