$bg_1:#3DAFD0;
$bg_2:#3DAFD0;
$bg_4:#124B87;
$bg_5:#235a8e;
$bg_7:#f2f4f4;
$text_gray:#7a7a7a;
$text_gray_light:#9a9a9a;
$text_white:#fff;
$text_red:#ED443D;
$text_black:#000;
$text_black1:#323232;
$text_black_light:#797979;
$text_yellow:#ffbc00;

/* Break point */
$bp-small: 480px;
$bp-mobile: 767px;
$bp-tablet: 991px;
$bp-laptop: 1279px;
$bp-desktop: 1399px;

